<!DOCTYPE html>
<html>
	<head>
		<title>Zhuo CHEN, Coding For Rice</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi! I'm Zhuo CHEN</h1>
				<p>A PhD student and bioinformatician at <em> IGDB, CAS </em>. 
				Interested in population genetics. <a href="/about"> Read more about my works... </a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:zhuochen@genetics.ac.cn">email</a></li>
        		<li><a href="https://github.com/zhuochenbioinfo">github.com/zhuochenbioinfo</a></li>
			</ul>
		</footer>
	</body>
</html>
